<% include partials/header %>

  <h1>Create a New Campgrounds</h1>


  <form action="/campgrounds" method="POST">
    <input type="text" name="name" value="" placeholder="new">
    <input type="text" name="url" value="" placeholder="image URL">
    <button type="submit">Submit</button>
  </form>
